nav{
	height: 300px;
	/*position: fixed;
*/	width: 100%;
	background-color: white;
	top: 0px;
	/*z-index: 2;*/
	/*margin: 0 auto;*/
}
li {
	font-family: "futura";
}
/***************************NAVIGATION STYLING***********************/
.navbar-header {
	position: absolute;
	align-items: center;
}

nav.sticky.fixed {
	height: 50px;
}

.navbar-default {
	background-color: white;
	height: 120px;
}
.navigation-thingy{
	background-color: white;
}
.nav .navbar{
	align-items: center;

}

/****************************LOGO STYLING****************************/
.logo-container{
	text-align: center;
}

#logo{
	height: 15%;
	width: auto;
}



/************************THUMBNAIL STYLINGS*************************/

.container {
	width: 1170px;
	margin: 20px auto;
	position:relative;
	align-items: center;
}

.thumbnail-box{
	width: 30px;
	margin: 20px auto;
	position:relative;
	align-items: center;
}


.row {
	clear: both;

}

.row:before {
	content: " ";
	display: table;
	clear: both;
}

.row:after {
	content: " ";
	display: table;
	clear: both;


}

.container .col {
	border: thin grey solid;
	float:left;
/*    position: relative;*/
    max-height: auto%;
  	max-width: 26%;
    height: auto;
/*    padding-bottom: 20%;*/ /* = width for a 1:1 aspect ratio */
    margin: 1%;
    overflow: hidden;
    position: relative;
   
}

.col img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
/*.navbar-nav{
	text-align: center;
}*/


@media screen and (max-width: 800px) { 
	.col { 
		background-color: white;
	 }
}

@media screen and (max-width: 720px) {
	.col { 
		width: 90%;
		padding-bottom: 90%;
	 }	
} 

@media screen and (max-width: 720px) {
	.container { 
		width: 90%;

	 }	
} 


